<!DOCTYPE html>
<html>
  <head>
    <title>Median</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta property="og:title" content="Median"/>
    <meta property="og:image" content="<%= image_url('og_image.png') %>"/>
    <meta property="og:description" content="A React / Redux and Ruby on Rails clone of Medium"/>
    <meta property="og:url" content="https://a-median.herokuapp.com/#/"/>
    <link 
      rel="stylesheet" 
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
      crossorigin="anonymous"/>
    <link 
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Serif+Pro:wght@600&display=swap" 
      rel="stylesheet">
    <link 
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" 
      rel="stylesheet">
    <link 
      href="https://fonts.googleapis.com/css2?family=Alata&display=swap" 
      rel="stylesheet">
    <link 
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" 
      rel="stylesheet">
    <script>
      window.car = '<%= image_url('car.png') %>'
      window.programming = '<%= image_url('programming.png') %>'
      window.design = '<%= image_url('design.png') %>'
      window.food = '<%= image_url('food.png') %>'
      window.technology = '<%= image_url('technology.png') %>'
      window.business = '<%= image_url('business.png') %>'
      window.medicine = '<%= image_url('medicine.png') %>'
      window.culture = '<%= image_url('culture.png') %>'
      window.relationships = '<%= image_url('relationships.png') %>'
      window.advice = '<%= image_url('advice.png') %>'
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
